html, body {
  margin: 0;
}

header {
  background: #f55a5a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 55px;
}

header > img {
  width: 24px;
  margin-right: 7px;
}

header > h1 {
  font-size: 1rem;
  font-weight: 500;
  font-family: Inter;
}

.journal-entry {
  display: flex;
  align-items: center;
  justify-content: center;
}

.marker {
  width: 7px;
  margin-right: 4px;
}

.main-image-container {
  width: 125px;
  height: 168px;
  overflow: hidden;
  border-radius: 5px;
  flex-shrink: 0;
  margin-right: 19px;
}

.main-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.location-info {
  display: flex;
  align-items: center;
}

.location-info > span {
  padding-left: 15px;
}
.location-info > a {
  padding-left: 15px;
}

.contact-card {
    flex-basis: 225px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 13px;
    padding-bottom: 20px;
    background-color: white;
}









